# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=sb_publishable_pDqZK2eH-g-xls8Vq0IfSg_xpx128ZW
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxxZXJ5amp5dXNsZ2dpZ3Jnb254Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTU0MDA3MTMsImV4cCI6MjA3MDk3NjcxM30.xTp1_hICN61GRGcfKhcMutvngUo5Gr8KZlGAUxDrs70

# Example:
# NEXT_PUBLIC_SUPABASE_URL=https://your-project-id.supabase.co
# NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key-here 